html {
  background-image: url("https://picsum.photos/1920/1080?grayscale");
}
#quote-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
}

#text {
  font-size: 3rem;
  font-weight: 600;
}
#author {
  font-size: 2rem;
  font-weight: 400;
  text-align: end;
}
#other {
  position: fixed;
  bottom: 0;
  margin: 10px;
}

.textTrans-enter {
  opacity: 0;
}
.textTrans-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.textTrans-exit {
  opacity: 1;
}
.textTrans-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
